version: '3.8'

services:
  app:
    build:
      context: .
    ports:
      - "8080:80"
    volumes:
      - .:/var/www/html
    environment:
      GOOGLE_CLIENT_ID: ${GOOGLE_CLIENT_ID}
      GOOGLE_CLIENT_SECRET: ${GOOGLE_CLIENT_SECRET}
      GOOGLE_REDIRECT_URI: ${GOOGLE_REDIRECT_URI}
      COMPOSER_PROCESS_TIMEOUT: 1200
    command: bash -c "composer install --no-dev --prefer-dist --no-progress --no-interaction && composer dump-autoload -o && apache2-foreground"
